<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <atom:link href="{{ podcast.feed_url }}" rel="self" type="application/rss+xml"/>
        <title>Sauerpod Cast</title>
        <description>Generated with https://github.com/jangroth/sauerpod</description>
        <link>{{ podcast.feed_url }}</link>

        <lastBuildDate>{{ podcast.last_build_date }}</lastBuildDate>
        <pubDate>{{ podcast.last_build_date }}</pubDate>
        <language>en-us</language>

        {% for episode in podcast.episodes %}
            <item>
                <title>{{ episode.Title|e }}</title>
                <description>{{ episode.Description|e }}</description>
                <link>{{ podcast.base_url~"/"~episode.BucketPath }}</link>
                <enclosure url="{{ podcast.base_url~"/"~episode.BucketPath }}" type="audio/mpeg" length="1024"></enclosure>
                <guid>{{ podcast.base_url~"/"~episode.BucketPath }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>
